$yellow: rgb(247, 193, 40);
$dark_yellow: rgb(159, 122, 35);
$green: rgb(45, 104, 84);
$black: rgb(44, 38, 33);
$gray: rgb(135, 135, 135);
$chatbox_color: rgb(198, 188, 175);

@mixin tap_feedback($color) {
    background-color: $color;

    &:active {
        @if lightness($color) > 16 {
            background-color: darken($color, 10%);
        } @else {
            background-color: lighten($color, 10%);
        }
    }
}

@font-face {
    font-family: 'Neo Sans Intel';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/NeoSansIntel/NeoSansIntel.ttf');
}

@font-face {
    font-family: 'Droid Sans';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/droid-sans/DroidSans.ttf');
}
.droid-font {
    font-family: 'Droid Sans';
}
.black-text {
    color: #333;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 42px;
    font-family: 'Neo Sans Intel';
}

p {
    font-size: 95%;
    line-height: 1.2em;
}

.hide {
    display: none;
}

.row.padded {
    padding-bottom: .5em;
}
.pin-type-row {
    position: relative;
    top: -20px;
}

#app-container {
    position: relative;
    padding-bottom: 50px;
}

/* COLORS */
.gray-text {
    color: rgba(0, 0, 0, .5);
}

#settings-button {
    @include tap_feedback(white);
    font-size: 60px;
    text-align: center;
    line-height: 70px;
    padding: 10px inherit;
}

#column-divider {
    position: fixed;
    top: 10px;
    left: 50%;
    height: 100%;
    width: 0;
    margin-left: -1px;
    border-left-width: 2px;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    border-style: dashed;
    box-sizing: content-box;
    z-index: -1;
    border-color: rgb(183, 169, 152);
}

#pins-container {
    min-height: 100%;
}

.column-title {
    text-align: center;
    padding: 1em 0;
}
.chatbox-container .column-title {
    text-align: left;
}
.sensors.column-title,
.sensors .column-title,
.chatbox-container.sensors {
    color: rgb(147, 106, 24);
}
.actuators.column-title,
.actuators .column-title,
.chatbox-container.actuators {
    color: $green;
}

/* PINS */

@-webkit-keyframes pulseGlow {
    from { -webkit-box-shadow: 0 0 0 $yellow; }
    50%  { -webkit-box-shadow: 0 0 30px rgb(231, 98, 40); }
    to   { -webkit-box-shadow: 0 0 0 $yellow; }
}

.pin {
    width: 50%;
    height: 130px;
    margin-top: 50px;
    margin-bottom: 100px;
    box-sizing: border-box;
    border-width: 15px;
    border-style: solid;
}
.pin:first-child {
    margin-top: 25px;
}
.pin.sensor {
    margin-left: 20%;
    margin-right: 30%;
    border-color: $yellow;
}
.pin.actuator {
    margin-left: 30%;
    margin-right: 20%;
    border-color: $green;
}

.pin-box {
    position: relative;
    height: 100%;
    width: 100%;
    @include tap_feedback(white);
}
.actuator .pin-box {
    float: right;
    text-align: right;
}

.pin-label { 
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
}
.pin-box > .pin-label {
    position: absolute;
    left: -15px;
    top: -1.75em;
    cursor: default;
    width: 120%;
    text-align: left;
}

.pin-box > .pin-name {
    font-size: 60px;
    text-align: center;
    width: 100%;
    height: 100px;
    font-weight: 600;
    line-height: 100px;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}
.pin-name {
    cursor: default;
}

/* TODO SASS color variable for actived pin*/
.sensor .pin-name {
    color: rgb(108, 79, 18);
}
.actuator .pin-name {
    color: $green;
}

.pin-value-container {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    background: transparent;
}
.pin-value {
    position: absolute;
    left: 0;
    bottom: 0;
}
.sensor .pin-value {
    background: rgb(222, 217, 194);
}
.actuator .pin-value {
    background: rgb(180, 206, 184);
}
.analog .pin-value {
    width: 100%;
}
.digital .pin-value {
    width: 100%;
    border: 10px solid transparent;
    box-sizing: border-box;
    margin: 0;
    height: 100%;
    -webkit-background-clip: content-box;
}

.endpoint-container {
    position: absolute;
    top: 50%;
    height: 90px;
    width: 90px;
    margin-top: -45px;
    z-index: 5;
    background: white;
    border-radius: 50px;
}
.sensor .endpoint-container {
    right: -70px;
}
.actuator .endpoint-container {
    left: -70px;
}

.endpoint {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    position: relative;
    box-sizing: content-box;
    top: 50%;
    left: 50%;
    margin-top: -40px;
    margin-left: -40px;
}
.sensor .endpoint {
    background-color: $yellow;
}
.actuator .endpoint {
    background-color: $green;
}
.endpoint-inner {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px; 
    border-radius: 25px;
}
.actuator .endpoint-inner {
    background-color: white;
}
.sensor .endpoint-inner,
.actuator.connected .endpoint-inner,
.pin.sensor.possible-connection.already-connected-to-activated-pin .endpoint-inner {
    background-color: $yellow;
}

.pin.activated .endpoint {
    background-color: rgb(231, 98, 40);
    width: 84px;
    height: 84px;
    border-radius: 42px;
    margin-top: -42px;
    margin-left: -42px;
}
.pin.sensor.activated .endpoint-inner,
.pin.sensor.possible-connection .endpoint-inner {
    background-color: rgb(231, 98, 40);
}
.pin.possible-connection .endpoint,
.pin.possible-connection.connected .endpoint {
    background: rgb(231, 98, 40);
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: pulseGlow;
}
.pin.possible-connection.already-connected-to-activated-pin .endpoint,
.pin.possible-connection.connected.already-connected-to-activated-pin .endpoint {
    -webkit-animation: none;
}

.pin .slash {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 15px;
    margin-top: -7.5px;
    margin-left: -30px;
    background: rgb(231, 98, 40);
    -webkit-transform: rotate(-45deg);
}
.pin.already-connected-to-activated-pin .slash {
    display: block;
}

/* SETTINGS WINDOW */

.settings {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
    background: white;
}
.settings-inner {
    margin: 15px 2%;
    width: 96%;
    border-width: 15px;
    border-style: solid;
    border-color: rgb(183, 169, 152);
}
#ssid-changed .settings-inner {
    padding: 15px;
}
#new-ssid {
    display: block;
    width: 100%;
    text-align: center;
    padding: .5em 0;
}
.settings.sensor .settings-inner {
    border-color: $yellow;
}
.settings.actuator .settings-inner {
    border-color: $green;
}
.settings .pin-name {
    font-size: 200%;
    text-align: center;
}
.settings .pin-label {
    width: 100%;
    max-width: 600px; /* NOTE this is based on 20 times the width of "W" in our current font. 20 because we limit label length to 20 chars. TODO make this dynamically update with changing font size, and base it on the font size that the label input is in */
}
.extra-small {
    font-size: 55%;
}
.settings .pin-label-input-label { /* TODO better class name. NOTE this is the label for the input box where you type in the pin label */
    position: relative;
    top: -.5em;
}
.settings .vertical-slider-container.damping { /* TODO if we are not using damping, take this out! */
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
}
.settings .button {
    margin: 0;
}

/* VERTICAL SLIDER */
.settings .vertical-slider-container {
    height: 410px;
}
.settings input[type=range].vertical-slider {
    -webkit-appearance: none;
    position: relative;
    left: -140px;
    top: 200px;
    width: 400px !important;
    height: 10px;
    -webkit-transform: rotate(270deg);
    margin: 0;
    padding: 0;
    display: block;
    box-sizing: content-box;
}
.settings.sensor input[type=range].vertical-slider {
    background: yellow;
}
.settings.actuator input[type=range].vertical-slider {
    background: rgb(194, 165, 46);
}
.settings input[type=range].vertical-slider:focus {
    box-shadow: 0 0 0 rgba(0,0,0,0);
    outline: 0 none;
}
.settings input[type=range].vertical-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 80px;
    height: 120px;
    border-radius: 10px;
    border: 5px solid white;
}
.settings.sensor input[type=range].vertical-slider::-webkit-slider-thumb {
    background: $yellow;
}
.settings.actuator input[type=range].vertical-slider::-webkit-slider-thumb {
    background: $green;
}
.settings .pin-scaled-val {
    margin-top: 10px;
}

/* SETTINGS PIN VALUE DISPLAY */

.pin-value-display-settings {
    position: relative;
    height: 400px;
    width: 300px;
    margin: 10px auto;
}
.pin-value-display-settings.has-pin-invert {
    margin-bottom: 120px;
}
.settings .pin-value-container {
    position: absolute;
    top: 0;
    left: 20%;
    width: 60%;
    height: 100%;
    border-width: 2px;
    border-style: solid;
}
.settings .pin-value-container {
    background: white;
}
.settings.sensor .pin-value-container {
    border-color: $dark_yellow;
}
.settings.actuator .pin-value-container {
    border-color: $green;
}
.settings.analog.sensor .pin-value-container {
    border-width: 0;
}

.settings .threshold {
    width: 90%;
    position: absolute;
    left: 5%;
    border-top: 4px dashed;
    z-index: 1;
    padding: 0;
    box-sizing: content-box;
    margin-bottom: -2px;
}
.settings.sensor .threshold {
    border-color: $dark_yellow;
}
.settings.actuator .threshold {
    border-color: $green;
}

.settings .pin-value-range-outline-top,
.settings .pin-value-range-outline-not-top {
    position:absolute;
    left: -2px;
    width: 100%;
    border-width: 2px;
    border-style: solid;
    z-index: 2;
    box-sizing: content-box;
}
.settings.sensor .pin-value-range-outline-top,
.settings.sensor .pin-value-range-outline-not-top {
    border-color: $dark_yellow;
}
.settings.actuator .pin-value-range-outline-top,
.settings.actuator .pin-value-range-outline-not-top {
    border-color: $green;
}
.settings .pin-value-range-outline-top {
    height: 0;
    border-bottom-width: 0;
    margin-top: -2px;
}
.settings .pin-value-range-outline-not-top {
    border-top-width: 0;
}

.settings .pin-value-in-range {
    position: absolute;
    left: 0;
    width: 100%;
}
.settings.sensor .pin-value-in-range {
    background: rgb(216, 192, 85);
}
.settings.actuator .pin-value-in-range {
    background: $green;
}
.settings .pin-value-container-above-range,
.settings .pin-value-container-below-range {
    position: absolute;
    left: 0;
    width: 100%;
    background: rgb(223, 223, 223);
    z-index: -1;
}
.settings .pin-value-container-above-range {
    top: 0;
}
.settings .pin-value-container-below-range {
    bottom: 0;
}

.settings .pin-invert-container {
    position: absolute;
    top: 100%;
    width: 150%;
    left: -5px;
    margin-top: 30px;
}

/* DIGITAL PINS SHOW "ON" OR "OFF" IN SETTINGS PIN VALUE DISPLAY */

.settings.digital .pin-value-container:before,
.settings.digital .pin-value:before {
    font-size: 45px;
    font-weight: 800;
    position: absolute;
    height: 72px;
    top: 50%;
    margin-top: -36px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    border-style: solid;
}
.settings.digital.sensor .pin-value-container:before,
.settings.digital.sensor .pin-value:before {
    color: rgb(147, 106, 24);
    background: rgb(243, 235, 191);
}
.settings.digital.actuator .pin-value-container:before,
.settings.digital.actuator .pin-value:before {
    color: $green;
    background: rgb(232, 240, 232);
}
.settings.digital .pin-value-container:before {
    content: "OFF";
    border-color: white;
    border-width: 10px;
    line-height: 50px;
}
.settings.digital .pin-value:before {
    content: "ON";
    border-width: 5px;
    line-height: 55px;
}
.settings.digital.sensor .pin-value:before {
    border-color: rgb(230, 222, 177);
}
.settings.digital.actuator .pin-value:before {
    border-color: rgb(180, 206, 184);
}

/* SETTINGS FOR ANALOG INPUTS HAVE SLIDERS */

.pin-value-display-settings .vertical-slider-container.triangle-point-left,
.pin-value-display-settings .vertical-slider-container.triangle-point-right {
    width: 20%;
    position: absolute;
    height: 100%;
    z-index: 2;
    box-sizing: content-box;
}
.pin-value-display-settings .vertical-slider-container.triangle-point-left {
    right: 0;
}
.pin-value-display-settings .vertical-slider-container.triangle-point-right {
    left: 0;
}
.pin-value-display-settings .vertical-slider-container.triangle-point-left input[type=range].vertical-slider,
.pin-value-display-settings .vertical-slider-container.triangle-point-right input[type=range].vertical-slider{
    width: 460px !important;
    height: 120px;
    top: 140px;
    left: -203px;
    background-color: rgba(0, 0, 0, 0);
}
.pin-value-display-settings .vertical-slider-container.triangle-point-right input[type=range].vertical-slider {
    left: -197px;
    margin-top: -2px;
}
.pin-value-display-settings .vertical-slider-container.triangle-point-left input[type=range].vertical-slider::-webkit-slider-thumb,
.pin-value-display-settings .vertical-slider-container.triangle-point-right input[type=range].vertical-slider::-webkit-slider-thumb {
    width: 0;
    height: 0;
    border-style: solid;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    background: transparent;
    padding:0;
    margin: 0;
    border-top-width:0;
    border-bottom-width:0;
    border-radius:0;
}
.pin-value-display-settings .vertical-slider-container.triangle-point-left input[type=range].vertical-slider::-webkit-slider-thumb {
    border-bottom-width: 50px;
}
.pin-value-display-settings .vertical-slider-container.triangle-point-right input[type=range].vertical-slider::-webkit-slider-thumb{
    border-top-width: 50px;
}
.settings.sensor .pin-value-display-settings .vertical-slider-container.triangle-point-left input[type=range].vertical-slider::-webkit-slider-thumb {
    border-bottom-color: $yellow;
}
.settings.sensor .pin-value-display-settings .vertical-slider-container.triangle-point-right input[type=range].vertical-slider::-webkit-slider-thumb{
    border-top-color: $yellow;
}
.settings.actuator .pin-value-display-settings .vertical-slider-container.triangle-point-left input[type=range].vertical-slider::-webkit-slider-thumb {
    border-bottom-color: $green;
}
.settings.actuator .pin-value-display-settings .vertical-slider-container.triangle-point-right input[type=range].vertical-slider::-webkit-slider-thumb{
    border-top-color: $green;
}

input[type=number] {
    width: 100px;
}
.pin-value-display-settings {
    margin: 0 auto;
}
.settings input[type=checkbox] {
    background-color: white;
}
.settings.sensor input[type=checkbox] {
    border-color: $yellow;
}
.settings.sensor input[type=checkbox]:checked:before {
    color: rgb(147, 106, 24);
}
.settings.actuator input[type=checkbox] {
    border-color: rgb(93, 130, 99);
}
.settings.actuator input[type=checkbox]:checked:before {
    color: rgb(42, 96, 78);
}

/* CHECKBOX */

input[type=checkbox] {
    -webkit-appearance: none;
    width: 55px;
    height: 55px;
    border: 10px solid rgb(194, 165, 46);
    background-color: rgb(235, 227, 181);
    margin: 5px;
    padding: 0;
}
input[type=checkbox]:checked {
    position: relative;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    font-size: 45px;
}
input[type=checkbox]:checked:before {
    content: "\e013";
    padding:0;
    background: rgba(0,0,0,0);
    position: absolute;
    top: -8px;
    left: -5px;
}
input[type=checkbox]:focus {
    box-shadow: 0 0 0 rgba(0,0,0,0);
    outline: 0 none;
}
label[for=checkbox] {
    position: relative;
    top: -.4em;
    line-height: 1em;
    margin: 0;
    padding: 0;
    height: 1em;
}
label {
    font-weight: normal;
}

/* LOADING PAGE */
#loading {
    background: rgb(255, 255, 255) url('../img/loading.gif') center center no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
}
#loading-msg {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 700px;
    margin-left: -350px;
    text-align: center;
    color: rgb(100, 100, 100);
    padding-top: 80px;
}

#toggle-debug-log {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    border-width: 0;
    width: inherit;
    z-index: 10;
    height: 60px;
}

#footer {
    height: 100px;
    width: 100%;
    position: fixed;
    bottom: 0;
    background: linear-gradient(rgba(255, 255, 255, .7), rgba(255, 255, 255, 1));
    z-index: 10;
}

/* BUTTONS */

.button {
    min-height: 60px;
    margin: 20px;
    padding: 0;
    color: white;
    text-align: center;
    line-height: 60px;
    cursor: default;
    position: relative;
    @include tap_feedback($black);
}
.button.square {
    max-width: 60px;
    width: 100%;
}
.button.wide {
    max-width: 300px;
    width: 100%;
}
.button.danger {
    @include tap_feedback(rgb(189, 42, 42));
}
.button.secondary {
    @include tap_feedback($gray);
}

#play-button,
#connect-button {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#play-button:hover,
#connect-button:hover {
    color: white;
    text-decoration: none;
}
#play-button .glyphicon-play {
    font-size: 80%;
}
#add-sensors-button,
#add-actuators-button {
    font-size: 200%;
    line-height: 57px;
}
#add-sensors-button {
    float: left;
    @include tap_feedback($yellow);
}
#add-actuators-button {
    float: right;
    @include tap_feedback($green);
}

/* SHOWING AND HIDING PINS */
.dialog {
    padding: 30px 50px;
    background: $chatbox_color;
    margin-top: 50px;
}

#ssid-dialog {
    top: 15%;
    margin-top: 0;
}
#ssid-dialog input {
    width: 100%;
}

.chatbox-container {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border-color: transparent;
    border-style: solid;
    border-width: 10px 15px 110px;
}
#app-settings.chatbox-container {
    border-bottom-width: 0;
}

.chatbox-inner .row:first-child div {
    padding: 20px 0;
}
.chatbox .my-close {
    font-size: 200%;
    height: 100px;
    @include tap_feedback($chatbox_color);
    line-height: 60px;
    text-align: right;
    cursor: default;
    position: relative;
    top: -15px;
}
#app-settings .my-close {
    top: 0;
}
#app-settings .button {
    margin: 0;
}

.chatbox-bg {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: -1;
    box-sizing: border-box;
    border-color: white;
    border-top-width: 15px;
    border-left-width: 15px;
    border-right-width: 15px;
    border-bottom-width: 110px;
    border-style: solid;
}
#app-settings .chatbox-bg {
    position: absolute;
    border-bottom-width: 15px;
    border-top-width: 100px;
}
.chatbox-bg,
.chatbox {
    background: $chatbox_color;
}
.chatbox {
    margin-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
}
#app-settings .chatbox {
    margin-bottom: 0;
}

.chatbox-triangle {
    width: 0;
    height: 0;
    background: transparent;
    position: fixed;
    bottom: 85px;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 30px solid $chatbox_color;
    z-index: 20;
}
#app-settings .chatbox-triangle {
    border-top-width: 0;
    border-bottom: 30px solid $chatbox_color;
    position: absolute;
    bottom: inherit;
    top: 75px;
    left: 50%;
    margin-left: -25px;
}
.chatbox-container.sensors .chatbox-triangle {
    left: 40px;
}
.chatbox-container.actuators .chatbox-triangle {
    right: 40px;
}
#add-pins-menu .pin-stub {
    margin-bottom: 50px;
    width: 76%;
    margin-left: 12%;
    margin-right: 12%;
}
.pin.clicked .pin-box:before {
    content: "\e013";
    font-family: 'Glyphicons Halflings';
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100px;
    margin-left: -50%;
    margin-top: -50px;
    text-align: center;
    line-height: 100px;
    -webkit-font-smoothing: antialiased;
    font-size: 80px;
}
.pin.sensor.clicked .pin-box:before {
    background: rgba(247, 193, 40, .4);
    /*color: rgb(147, 106, 24);*/
    color: $yellow;
    opacity: .9;
}
.pin.actuator.clicked .pin-box:before {
    background: rgba(45, 104, 84, .4);
    color: $green;
    opacity: .85;
}

/* CONNECTIONS */
.connection path.edge {
    stroke: #2c2621;
}
.connection path.edge-bg {
    stroke: white;
}

/* PLAY MODE */

$play_margin: 20px;
$play_border: 15px;
$play_pin_h: 145px;

#play-pins {
    padding-top: 50px;
    padding-bottom: 100px;
}
#play-pins .pin {
    width: 100%;
    -webkit-background-clip: content-box;
    position: relative;
}
#play-pins .pin.digital {
    width: 100%;
    border-style: solid;
    border-color: transparent;
    border-width: 0 $play_margin;
    box-sizing: border-box;
    border-color: transparent;
    margin-bottom: 50px;
}
#play-pins .pin.analog {
    border-width: 0;
    margin-bottom: 0;
}
#play-pins .pin .pin-box {
    -webkit-background-clip: content-box;
    background: $gray;
    width: 100%;
    border-color: white;
    border-style: solid;
    position: relative;
    border-radius: 1px;
}
#play-pins .pin.digital .pin-box {
    height: $play_pin_h;
    border-width: $play_border;
    width: 100%;
    @include tap_feedback($gray);
}
#play-pins .pin.analog .pin-box {
    height: 65px;
    margin-top: 65px;
    width: 100%;
    border-width: 0 ($play_margin + $play_border);
}

#play-pins .pin.pressed .pin-box {
    border-color: rgb(180, 206, 184);
    @include tap_feedback($green);
}
#play-pins .pin.pressed .pin-box:before {
    display: none;
}

#play-pins .pin-label,
#play-pins .pin-name {
    color: white;
    font-size: 100%;
    font-weight: normal;
    height: 140px;
    line-height: 110px;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

#play-pins .pin-value-container {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: transparent;
}

#play-pins .pin-value {
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgb(45, 104, 84);
    z-index: 0;
    border-width: 0;
    height: 100%;
}

#play-pins .pin-value-container .pin-name,
#play-pins .pin-value-container .pin-label {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    line-height: 62px;
}

#play-pins .pin-slider-container {
    width: 100%;
    height: $play_pin_h;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}
#play-pins .pin-slider-container input[type=range] {
    z-index: 4;
    position: absolute;
    top: -40px;
    left: 0;
    -webkit-appearance: none;
    background: transparent;
    height: 145px;
    width: 100%;
}
#play-pins .pin-slider-container input[type=range]:focus {
    box-shadow: 0 0 0 transparent;
    outline: 0 none;
}
#play-pins .pin-slider-container input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    display: block;
    background: green;
    width: 0;
    height: 0;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 56px solid white;
    -webkit-background-clip: content-box;
    position: relative;
    top: 50px;
}
#play-pins .pin-slider-container input[type=range]::-webkit-slider-thumb:before {
    width: 0;
    height: 0;
    display: block;
    content: "\A";
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 50px solid $green;
    position: absolute;
    top: 3px;
    left: -30px;
}


/* SMALL DEVICES */
@media (max-device-width: 4in) {
    
.pin {
    width: 60%;
    height: 170px;
    margin-top: 50px;
    margin-bottom: 120px;
}
.pin.sensor {
    margin-left: 10%;
}
.pin.actuator {
    margin-right: 10%;
}
.pin-box > .pin-name {
    line-height: 140px;
}
.pin.clicked .pin-box:before {
    height: 140px;
    margin-top: -70px;
    line-height: 140px;
}

input[type=checkbox] {
    width: 75px;
    height: 75px;
}
input[type=checkbox]:checked {
    font-size: 65px;
}
label[for=checkbox] {
    position: relative;
    top: -.4em;
    line-height: 1em;
    margin: 0;
    padding: 0;
    height: 1em;
    font-weight: normal;
}

.endpoint,
.pin.activated .endpoint {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-top: -50px;
    margin-left: -50px;
    background: rgb(231, 98, 40);
}
.endpoint-inner {
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    border-radius: 35px;
}

/* TODO why use top and margin-top when top isn't even something convenient like 50% ?*/
.pin .slash {
    width: 80px;
    margin-left: -40px;
}
.endpoint-container {
    height: 106px;
    width: 106px;
    margin-top: -53px;
    border-radius: 53px;
}

.pin-value-display-settings .vertical-slider-container.triangle-point-left input[type=range].vertical-slider,
.pin-value-display-settings .vertical-slider-container.triangle-point-right input[type=range].vertical-slider{
    width: 480px !important;
    top: 140px;
    left: -203px;
}
.pin-value-display-settings .vertical-slider-container.triangle-point-right input[type=range].vertical-slider {
    left: -217px;
    margin-top: -2px;
}
.pin-value-display-settings .vertical-slider-container.triangle-point-left input[type=range].vertical-slider::-webkit-slider-thumb,
.pin-value-display-settings .vertical-slider-container.triangle-point-right input[type=range].vertical-slider::-webkit-slider-thumb {
    border-left-width: 40px;
    border-right-width: 40px;
}
.pin-value-display-settings .vertical-slider-container.triangle-point-left input[type=range].vertical-slider::-webkit-slider-thumb {
    border-bottom-width: 70px;
}
.pin-value-display-settings .vertical-slider-container.triangle-point-right input[type=range].vertical-slider::-webkit-slider-thumb{
    border-top-width: 70px;
}



}


@media (max-device-width: 4in) and (min-resolution: 100dpi) {
    
html, body {
    font-size: 60px;
} 
#footer {
    height: 120px;
}
.button {
    min-height: 100px;
    margin: 10px;
    line-height: 100px;
}
.button.square {
    max-width: 100px;
    width: 100%;
}
.button.wide {
    max-width: 500px;
}
#add-sensors-button,
#add-actuators-button {
    line-height: 97px;
}
.chatbox {
    border-bottom-width: 145px;
}
.chatbox-inner .row:first-child div {
    padding: .6em 0;
}
.chatbox .my-close {
    line-height: 0;
    top: -20px;
}
#add-pins-menu .chatbox-bg {
    border-bottom-width: 145px;
}
#add-pins-menu .chatbox-triangle {
    bottom: 120px;
}
#add-pins-menu.sensors .chatbox-triangle {
    left: 50px;
}
#add-pins-menu.actuators .chatbox-triangle {
    right: 50px;
}
.settings {
    font-size: 85%;
}

#play-pins .pin.digital .pin-box {
    height: 200px;
}
#play-pins .pin.digital .pin-name,
#play-pins .pin.digital .pin-label {
    line-height: 165px;
}
#play-pins .pin.analog .pin-box {
    height: 100px;
    margin-top: 75px;
}
#play-pins .pin.analog .pin-name,
#play-pins .pin.analog .pin-label {
    line-height: 90px;
}
#play-pins .pin-slider-container input[type=range] {
    height: 200px;
}


}
