*.DS_Store
todo.md
test/coverage
client/.sass-cache/*
client/static/css/app.css
node_modules
conf/boardstate.conf
conf/appstate.conf
client/docs
coverage
client/coverage
npm-debug.log
*.log
**/reset.pid
