<!DOCTYPE html>
<html lang="en" ng-app="ConnectAnything">
<head>
    <title>CAT</title>
    <link rel="shortcut icon" href="favicon.ico"/>
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/jquery-ui.min.js"></script>
    <script src="static/js/angular.min.js"></script>
    <script src="static/js/jquery.jsPlumb-1.4.1-all.js"></script>
    <script src="static/js/underscore-min.js"></script>
    <script src="static/js/app.js"></script>

    <link rel="stylesheet" href="static/fnt/glyphicons-halflings-regular.ttf">

    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/app.css">
</head>
<body ng-controller="PinsCtrl">

<div id="pins-container">

    <div id="settings-button" class="black">
        <span class="glyphicon glyphicon-cog"></span>
    </div>

    <div id="column-divider" class="gray-border"></div>

    <!-- TODO make sensors and actuators share a single 'template' -->
    <div id="sensors" class="fraction one-half">

        <div
          ng-class="{
              'empty-column-label': true,
              'hide': (pins | sensors).length > 0}">
            sensors
        </div>

        <div id="{{pin.id}}"
          ng-repeat="pin in pins | sensors"
          ng-class="{
              'sensor':true,
              'pin':true,
              'yellow-border': true,
              'connected':pin.is_connected,
              'analog': pin.is_analog,
              'digital': !pin.is_analog,
              'activated': activated_sensor === pin.id}"
          data-name="{{pin.name}}"
          sensor>
            <div class="pin-box" ng-click="show_settings_for(pin.id)">
                <div class="pin-label">
                    {{pin.label}}
                </div>
                <div class="pin-value-container">
                    <div class="pin-value" style="height:{{pin.value}}%;"></div>
                </div>
                <div class="pin-port">
                    <div id="{{pin.id}}-endpoint"
                      class="endpoint"
                      ng-click="toggle_activated($event, pin.id)">
                    </div>
                </div>
            </div>
            <div ng-class="{'settings': true,
                            'hide': !(settings_pin === pin.id)}">
                <div class="settings-inner">

                    <div class="settings-row title">
                        <div class="fraction two-thirds">
                            <div class="pin-name">
                                {{pin.name}}&nbsp;{{type()}}
                            </div>
                            <input type="text"
                              placeholder="Pin Label"
                              class="pin-label"
                              value="{{pin.label}}"
                              ng-blur="update_pin_label()">
                        </div>
                        <div class="fraction one-third exit" ng-click="close_settings()">
                              &#x2713;
                        </div>
                    </div>

                    <div class="settings-row text">
                        <!--TODO tooltips -->
                        <div class="fraction one-fifth">
                            Reading
                        </div>
                        <div class="fraction one-fifth">
                            Baseline
                        </div>
                        <div class="fraction one-fifth">
                            Scale
                        </div>
                        <div class="fraction one-fifth">
                            Smooth
                        </div>
                        <div class="fraction one-fifth">
                            Invert
                        </div>
                    </div>

                    <div class="settings-row controls">
                        <div class="fraction one-fifth">
                            <div class="pin-value-container">
                                <div class="pin-value" style="height:{{pin.value}}%;"></div>
                            </div>
                        </div>
                        <div class="fraction one-fifth">
                            Coming next week: baseline setting
                        </div>
                        <div class="fraction one-fifth customized-range-container">
                            <!-- TODO make sliders a template -->
                            <input type="range"
                              class="sensitivity"
                              ng-model="pin.sensitivity"
                              min="0"
                              max="1"
                              step="0.1"
                              value="{{pin.sensitivity}}"
                              ng-change="send_pin_update([pin.id])">
                        </div>
                        <div class="fraction one-fifth">
                            Coming next week: smooth setting
                        </div>
                        <div class="fraction one-fifth">
                            <input type="checkbox"
                              class="invert"
                              ng-model="pin.is_inverted"
                              ng-change="send_pin_update([pin.id])">
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <div id="actuators" class="fraction one-half">

        <div
          ng-class="{
              'empty-column-label': true,
              'hide': (pins | actuators).length > 0}">
            actuators
        </div>

        <div id="{{pin.id}}"
          ng-repeat="pin in pins | actuators"
          ng-class="{
              'actuator':true,
              'pin':true,
              'green-border': true,
              'connected':pin.is_connected,
              'analog': pin.is_analog,
              'digital': !pin.is_analog,
              'activated': activated_sensor !== null,
              'already-connected-to-activated-sensor': already_connected_to_activated_sensor()}"
          data-name="{{pin.name}}"
          actuator>
            <div class="pin-box" ng-click="show_settings_for(pin.id)">
                <div class="pin-label">
                    {{pin.label}}
                </div>
                <div class="pin-value-container" ng-click="pin.value = (pin.value === 100) ? 0 : 100">
                    <div class="pin-value" style="height:{{pin.value}}%;"></div>
                </div>
                <div class="pin-port">
                    <div id="{{pin.id}}-endpoint"
                      class="endpoint"
                      ng-click="connect_or_disconnect($event, pin.id)">
                        <div class="endpoint-inner"></div>
                        <div class="x-1"></div>
                        <div class="x-2"></div>
                    </div>
                </div>
            </div>
            <div ng-class="{'settings': true,
                            'hide': !(settings_pin === pin.id)}">
                <div class="settings-inner">
                    <div class="exit"
                      ng-click="close_settings()">
                          &#x2713;
                    </div>
                    <div class="pin-name">
                        {{pin.name}}&nbsp;{{type()}}
                    </div>
                    <input type="text"
                      placeholder="Pin Label"
                      class="pin-label"
                      value="{{pin.label}}"
                      ng-blur="update_pin_label()">
                    <div class="value-label">
                        Reading
                    </div>
                    <div class="pin-value-container">
                        <div class="pin-value" style="height:{{pin.value}}%;"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<div id="connections-container">

    <div id="connect-{{c.source}}-{{c.target}}"
      ng-repeat="c in connections"
      class="connection"
      data-sensor_id="{{c.source}}"
      data-actuator_id="{{c.target}}"
      connection>
    </div>

</div>

<div id="footer">
    <div class="fraction one-third">
        <div id="add-sensors-button" class="button square yellow-bg">+</div>
    </div>

    <div class="fraction one-third">
        <div id="play-button" class="button wide black-bg">
            <span class="glyphicon glyphicon-play"></span>
            Play
        </div>
    </div>
    <div class="fraction one-third">
        <div id="add-actuators-button" class="button square green-bg">+</div>
    </div>
</div>

<div id="loading" ng-class="{'hide': got_data}">
    <div id="loading-msg">
        waiting for server
    </div>
</div>

<!-- TODO remove when done debugging -->
<!--
<div id="debug-log" class="ui-grid-a hide"></div>
<button id="toggle-debug-log hide" onclick="toggle_debug_log()">TOGGLE DEBUG LOG</button>
-->

</body>
</html>
