<!DOCTYPE html>
<html lang="en" ng-app="ConnectAnything">
<head>
    <title>CAT</title>
    <link rel="shortcut icon" href="favicon.ico"/>
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/jquery-ui.min.js"></script>
    <script src="static/js/angular.min.js"></script>
    <script src="static/js/jquery.jsPlumb-1.4.1-all.js"></script>
    <script src="static/js/jquery.mobile-1.4.1.js"></script>
    <script src="static/js/underscore-min.js"></script>
    <script src="static/js/app.js"></script>

    <link rel="stylesheet" href="static/css/jquery.mobile-1.4.1.min.css">
    <link rel="stylesheet" href="static/css/app.css">
</head>
<body>
    <div class="container" ng-controller="PinsCtrl">
        <div id="field" class="ui-grid-a">

            <div id="sensors" class="ui-block-a">

                <div id="{{pin.id}}"
                  ng-repeat="pin in pins | sensors"
                  ng-class="{
                      'sensor':true,
                      'pin':true,
                      'connected':pin.is_connected,
                      'analog': pin.is_analog,
                      'digital': !pin.is_analog,
                      'activated': activated_sensor === pin.id}"
                  data-name="{{pin.name}}"
                  sensor>
                    <div class="pin-box">
                        <div class="pin-label">
                            {{pin.label}}
                        </div>
                        <div class="pin-value-container">
                            <div class="pin-value" style="height:{{pin.value}}%;"></div>
                        </div>
                    </div>
                    <div class="pin-port">
                        <div class="endpoint" id="{{pin.id}}-endpoint"></div>
                    </div>
                    <div ng-class="{'settings': true,
                                    'hide': !(settings_pin === pin.id)}">
                        <div class="settings-inner">
                            <div class="exit"
                              ng-click="close_settings()">
                                  &times;
                            </div>
                            <div class="pin-name">
                                {{pin.name}}
                            </div>
                            <input type="text"
                              ng-model="pin.label"
                              placeholder="Pin Label"
                              class="pin-label"
                              ng-change="sync_pins()">
                            <div class="datum">
                                <label class="inline">Current Reading</label>
                                <div class="inline">{{pin.value|number:0}}%</div>
                            </div>
                            <div class="datum">
                                <input class="inline" type="checkbox" ng-model="pin.is_inverted" ng-change="sync_pins()">
                                <label class="inline">invert</label>
                            </div>
                            <div class="datum">
                                <label class="inline">Sensitivity</label>
                                <input class="inline" type="range" ng-model="pin.sensitivity" min="0" max="1" step="0.1" value="{{pin.sensitivity}}" ng-change="sync_pins()">
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div id="actuators" class="ui-block-b">

                <div id="{{pin.id}}"
                  ng-repeat="pin in pins | actuators"
                  ng-class="{
                      'actuator':true,
                      'pin':true,
                      'connected':pin.is_connected,
                      'analog': pin.is_analog,
                      'digital': !pin.is_analog,
                      'activated': activated_sensor !== null}"
                  data-name="{{pin.name}}"
                  actuator>
                    <div class="pin-box">
                        <div class="pin-label">
                            {{pin.label}}
                        </div>
                        <div class="pin-value-container" ng-click="pin.value = (pin.value === 100) ? 0 : 100">
                            <div class="pin-value" style="height:{{pin.value}}%;"></div>
                        </div>
                    </div>
                    <div class="pin-port">
                        <div class="endpoint" id="{{pin.id}}-endpoint"></div>
                    </div>
                </div>

            </div>

            <div id="connections">

                <div id="connect-{{c.source}}-{{c.target}}"
                  ng-repeat="c in connections"
                  class="connection"
                  data-sensor_id="{{c.source}}"
                  data-actuator_id="{{c.target}}"
                  connection>
                </div>

            </div>

        </div>

        <!-- TODO remove when done debugging -->
        <div id="debug-log" class="ui-grid-a"></div>
        <button id="toggle-debug-log" onclick="toggle_debug_log()">TOGGLE DEBUG LOG</button>
    </div>

</body>
</html>
