<!DOCTYPE html>
<html lang="en" ng-app="ConnectAnything">
<head>
    <title>CAT</title>
    <link rel="shortcut icon" href="favicon.ico"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
    <script src="static/js/jquery.jsPlumb-1.4.1-all.js"></script>
    <script src="static/js/jquery.mobile-1.4.1.js"></script>
    <script src="static/js/underscore-min.js"></script>
    <script src="static/js/app.js"></script>

    <link rel="stylesheet" href="static/css/jquery.mobile-1.4.1.min.css">
    <link rel="stylesheet" href="static/css/app.css">
</head>
<body>
    <div class="container" ng-controller="PinsCtrl">
        <div id="field" class="ui-grid-a">
            <div id="sensors" class="ui-block-a">
                <div id="{{pin.name}}" ng-repeat="pin in pins | sensors" ng-class="{'sensor':true, 'pin':true, 'connected':pin.connected_to.length > 0}" data-name="{{pin.name}}" sensor>
                    <div class="pin-box">
                        <div class="pin-label">
                            {{pin.name}}
                        </div>
                        <div class="pin-value-container">
                            <div class="pin-value" style="height:{{pin.value}}%;"></div>
                        </div>
                    </div>
                    <div class="pin-port">
                        <div class="endpoint" id="{{pin.name}}-endpoint"></div>
                    </div>
                </div>
            </div>
            <div id="actuators" class="ui-block-b">
                <div id="{{pin.name}}" ng-repeat="pin in pins | actuators" ng-class="{'actuator':true, 'pin':true, 'connected':pin.connected_to.length > 0}" data-name="{{pin.name}}" actuator>
                    <div class="pin-box">
                        {{pin.name}}
                    </div>
                    <div class="pin-port">
                        <div class="endpoint" id="{{pin.name}}-endpoint"></div>
                    </div>
                </div>
            </div>
            <div id="connections">
                <div id="connect-{{c.sensor}}-{{c.actuator}}" ng-repeat="c in connections" class="connection" data-sensor="{{c.sensor}}" data-actuator="{{c.actuator}}" connection></div>
            </div>
        </div>
    </div>

</body>
</html>
