<div class="container">

    <div step="5" steps-pics></div>

    <div class="row padded">
        <div class="col-xs-12">
            <h1>Next Steps</h1>
        </div>
    </div>

    <div class="row padded">
        <div class="col-xs-12">
            <p>From here you can decide how you want to use Galileo.</p>
        </div>
    </div>

    <div class="row padded">
        <div class="col-xs-12">
            <p>To monitor input pins and control output pins, try using <a href="/#/pin_monitor">Control Mode</a>.</p>
        </div>
    </div>

    <div class="row padded">
        <div class="col-xs-12">
            <p>To [insert value proposition of Sublime plugin here], download <a href="http://www.sublimetext.com/2">Sublime 2</a> and the <a href="http://wbond.net/sublime_packages/sftp">MakerNode Sublime Plugin</a>.</p>
        </div>
     <div class="row padded">
        <div class="col-xs-12">
            <p><a href="/#/set_root_password">Change the root Password</a> of your Galileo when you log in using a terminal. You should do this to secure your board if you are working in a public place.</p>
        </div>
    </div>


 	</div>
</div>
