<form class="container setup-form" ng-submit="submit()">
  <div class="row padded">
    <div class="col-xs-12">
      <h1>Set Password</h1>
    </div>
  </div>
  <div class="row padded">
    <div class="col-xs-12">
      <p>This is the password for the root user on your Galileo. You probably will not need this until you move on to more advanced usage of your Galileo, so choose something you can remember for a long time.</p>
    </div>
  </div>

  <div class="row padded">
    <div class="col-xs-12">
      <input ng-model="form.root_password" placeholder="Root Password" autofocus="true" />
    </div>
  </div>
  <div class="row">
    <input type="submit" class="button wide submit" value="Set Password" />
  </div>
</form>
