<div id="control-mode"
  class="container-fluid setup-form">

    <div step="3" steps-pics></div>

    <div class="row padded">
        <div class="col-xs-12">
            <h1>Connection Test</h1>
        </div>
    </div>

    <div class="row padded">
        <div class="col-xs-12">
            <p>Try turning Pin 13 on and off using this button, and you should see an LED go on and off on your board. This LED is labeled "L" on the Galileo and is indicated with a red arrow below. It comes automatically hooked up to Pin 13.</p>
        </div>
    </div>

    <div class="row padded test-pin">
        <div class="col-xs-12"
          ng-if="d.pins.13.value === 100">
            <img src="/static/img/galileo_pin13_led_on.png">
        </div>
        <div class="col-xs-12"
          ng-if="d.pins.13.value === 0">
            <img src="/static/img/galileo_pin13_led_off.png">
        </div>
    </div>

    <div class="row padded">
        <div class="col-xs-12"
          ng-repeat="pin in [d.pins.13]">
            <div ng-class="{
                'pin': true,
                'analog': pin.is_analog,
                'digital': !pin.is_analog,
                'sensor': pin.is_input,
                'actuator': !pin.is_input,
                'on': pin.value === 100,
                'off': pin.value === 0,
                'big': true,
                'testing': true}">
                <div ng-if="pin.is_analog"
                  pin-slider>
                </div>
                <div ng-if="!pin.is_analog"
                  pin-button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="button wide submit"
          ng-click="submit()">
            Done Testing
        </div>
    </div>

</div>
