<div id="control-mode" class="container-fluid setup-form">

    <div step="3" steps-pics></div>
    <div class="row">
        <div class="col-xs-12">
            <h1>Connected to Your Network!</h1>
        </div>
    </div>
    <div class="row">
        <div class="button wide submit" ng-click="submit()">
            Next Steps &nbsp; >>
        </div>
    </div>
    <div class="row padded">
        <div class="col-xs-12">
            <p>
                Your Galileo is connected via a nodejs websocket to the button below. Use
                it to confirm the device is properly configured.
            </p>
        </div>
    </div>
    <div class="row padded">
        <div class="center-and-shrink">
            <div class="col-xs-12" ng-repeat="pin in [d.pins.13]">
                <div ng-class="{
                'pin': true,
                'analog': pin.is_analog,
                'digital': !pin.is_analog,
                'sensor': pin.is_input,
                'actuator': !pin.is_input,
                'on': pin.value === 100,
                'off': pin.value === 0,
                'big': true,
                'testing': true}">
                    <div ng-if="pin.is_analog" pin-slider>
                    </div>
                    <div ng-if="!pin.is_analog" pin-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row padded test-pin">
        <br/>
        <div class="col-xs-12" ng-if="d.pins.13.value === 100">
            <img src="/static/img/galileo_pin13_led_on.png">
        </div>
        <div class="col-xs-12" ng-if="d.pins.13.value === 0">
            <img src="/static/img/galileo_pin13_led_off.png">
        </div>
    </div>

</div>
