<style>
  #combo-01 {
    z-index: 999;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
  #combo-01 select {
    display: none;
  }
  #combo-01 option {
    display: none;
  }
  #combo-01 .scombobox-list {
    background: #eeeeee;
    margin-left: auto;
    margin-right: auto;
    width: 344px;
    padding: 0 10px;
    overflow-x: scroll;
    cursor: pointer;
  }
  .show-on-load {
    display: none;
  }
  input {
    margin-bottom: 4px;
  }
</style>
<form class="container setup-form" ng-submit="submit()" name="sff" ng-app="MakerNode">

  <div step="2" steps-pics></div>

  <div class="row padded">
    <div class="col-xs-12">
      <h1>Connect Galileo to Wifi</h1>
    </div>
  </div>

  <div class="row padded">
    <div class="col-xs-12 text-center">
      <p>This will let Galileo connect to your home wifi network. Then you can connect with Galileo and use the internet simultaneously.</p>
    </div>
  </div>
  <div class="row padded text-center col-xs-12 hide-on-load">
    <i class="fa fa-circle-o-notch fa-fw fa-spin"></i>&nbsp;SCANNING WIFI NETWORKS...
  </div>
  <div class="show-on-load">
    <div class="row padded">
      <div class="col-xs-12">
        <select id="combo-01"></select>
      </div>
    </div>
    <div class="row padded">
      <div class="col-xs-12">
        <input ng-model="form.pwd" placeholder="Password" type="password" name="pwd" />
        <input ng-model="form.confirm" type="password" data-match="form.pwd" placeholder="Confirm Password" name="confirm" />
	</div>
	        <p class="text-center" ng-show="sff.confirm.$error.match">Fields do not match!</p>
        <p class="text-center">Leave blank if you have an unsecured network.
        </p>
    </div>
    <div class="row">
      <input type="submit" class="button wide submit" value="Connect" />
    </div>
  </div>
</form>
