.pin {
    width: 100%;
    height: 80%;
    margin-top: 10%;
    margin-bottom: 10%;
    background: gray;
}
.sensor.activated {
    background: green;
}
.actuator.activated {
    background: blue;
}
