.pin {
    width: 85%;
    height: 100px;
    margin-top: 25px;
    margin-bottom: 25px;
    background: gray;
}
.pin.sensor {
    margin-left: 10%;
    margin-right: 5%;
}
.pin.actuator {
    margin-left: 5%;
    margin-right: 10%;
}
.sensor.activated {
    background: green;
}
.actuator.activated {
    background: blue;
}
