html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-family: sans-serif;
}

.hide {
    display: none;
}

.yellow {
    background-color: rgb(247, 193, 40);
}
.green {
    background-color: rgb(45, 104, 84);
}
.black {
    background-color: rgb(44, 38, 33);
}

#settings-button {
    position: fixed;
    top: 0;
    left: 50%;
    height: 50px;
    width: 50px;
    margin-left: -25px;
    color: white;
}

#pins-container {
    min-height: 100%;
}
#actuators {
    width: 49%;
    border-left: 2px dashed rgb(183, 169, 152);
} /* TODO more control of dashed border will require image */

.empty-column-label {
    text-align: center;
    padding: 1em 0;
    font-size: 200%;
}
#sensors .empty-column-label {
    color: rgb(147, 106, 24);
}
#actuators .empty-column-label {
    color: rgb(45, 104, 84);
}

/* PINS */

@-webkit-keyframes pulseGlow {
    from { background-color: rgb(250, 250, 100); -webkit-box-shadow: 0 0 20px rgb(250, 250, 60); }
    50%  { background-color: rgb(255, 255, 0); -webkit-box-shadow: 0 0 100px rgb(255, 255, 0); }
    to   { background-color: rgb(250, 250, 100); -webkit-box-shadow: 0 0 20px rgb(250, 250, 60); }
}

.pin {
    width: 70%;
    height: 150px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin: 50px inherit;
}
.pin.sensor {
    margin-left: 5%;
    margin-right: 25%;
}
.pin.actuator {
    margin-left: 25%;
    margin-right: 5%;
}

.pin-box {
    position: relative;
    height: 100%;
    background: rgb(107,48,0);
    width: 90%;
}
.actuator .pin-box {
    float: right;
    text-align: right;
}

.pin-label {
    position: absolute;
    top: 5%;
    z-index: 5;
    color: black;
    text-shadow: none;
}
.sensor .pin-label {
    left: 4px;
}
.actuator .pin-label {
    right: 4px;
}

.pin-value-container {
    height: 90%;
    position: absolute;
    top: 5%;
    z-index: 0;
    width: 65%;
    background-color: rgba(245, 245, 245, .2);
}
.sensor .pin-value-container {
    left: 2px;
}
.actuator .pin-value-container {
    right: 2px;
}

.pin-value {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    background: blueviolet;
}
.analog .pin-value {
    transition: height 1s;
    -webkit-transition: height 1s;
    -moz-transition: height 1s;
    -o-transition: height 1s;
}

.pin-port {
    position: absolute;
    top: 50%;
    height: 140px;
    width: 140px;
    margin-top: -70px;
    z-index: 5;
}
.sensor .pin-port {
    right: -70px;
}
.actuator .pin-port {
    left: -70px;
}

.endpoint {
    width: 100px;
    height: 100px;
    border-width: 20px;
    border-style: solid;
    border-radius: 70px;
    position: relative;
}
.sensor .endpoint {
    border-color: rgb(0, 102, 24);
    background: rgb(232, 189, 0);
}
.actuator .endpoint {
    border-color: rgb(232, 52, 8);
    background: antiquewhite;
}
.sensor.activated .endpoint {
    background: rgb(250, 250, 60);
}
.actuator.activated .endpoint,
.actuator.activated.connected .endpoint {
    background: rgb(250, 250, 60);
    -webkit-animation-name: pulseGlow;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
}
.actuator.connected .endpoint {
    background: rgb(232, 189, 0);
}

.x-1, .x-2 {
    position: absolute;
    top: 40px;
    left: 10px;
    width: 80px;
    height: 20px;
    background: rgb(50, 50, 50);
    display: none;
}
.x-1 {
    -webkit-transform: rotate(45deg);
}
.x-2 {
    -webkit-transform: rotate(-45deg);
}
.pin.actuator.activated.already-connected-to-activated-sensor .endpoint {
    -webkit-animation: none;
    background: rgb(212, 203, 89);
}
.pin.actuator.activated.already-connected-to-activated-sensor .x-1,
.pin.actuator.activated.already-connected-to-activated-sensor .x-2 {
    display: block;
}

/* SETTINGS WINDOW */
.settings {
    position: fixed;
    width: 90%;
    height: 500px;
    top: 50px;
    left: 5%;
    z-index: 10;
    background: rgb(224, 153, 87);
}
.settings-inner {
    position: relative;
    width: 100%;
    height: 100%;
}
.settings-row {
    width: 90%;
    padding: 1em 5%; 
}
.settings-row.title {
    height: 150px;
}
.settings-row.text {
    height: 1.5em;
}
.settings-row.controls {
    height: 300px;
    padding-top: 0;
}

.settings-inner .pin-name {
    padding: 1em 0;
    color: rgb(240, 218, 191);
}
.settings-inner .pin-label {
    height: 30px;
    line-height: 1em;
    padding: 1em 0;
    border-width: 0;
    background: rgb(245, 191, 141);
    position: inherit;
    width: 100%;
}
.settings-inner .exit {
    height: 100%;
    text-align: center;
    line-height: 150px;
    color: green;
    background: rgb(86, 199, 86);
}


.settings-inner .pin-value-container {
    height: 200px;
    width: 100%;
    position: relative;
}

/* TODO use javascript to make this look ok */
.customized-range-container {
    position: relative;
    height: 100%;
}
.settings-inner .sensitivity {
    -webkit-appearance: none;
    position: absolute;
    left: -70px;
    top: 85px;
    width: 200px;
    height: 30px;
    -webkit-transform: rotate(270deg);
    background: rgb(245, 191, 141);
    margin: 0;
    padding: 0;
}
.settings-inner .sensitivity::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 30px;
    height: 45px;
    -webkit-border-radius: 13px;
    border-radius: 13px;
    background: rgb(50, 50, 50);
}
.settings-inner .invert {
    -webkit-appearance: none;
    width: 50px;
    height: 50px;
    border: 5px solid rgb(245, 191, 141);
    border-radius: 25px;
    background-color: rgb(245, 191, 141);
}
.settings-inner .invert:checked {
    background-color: rgb(50, 50, 50);
}

/* LOADING PAGE */
#loading {
    background: rgb(255, 255, 255) url('../img/loading.gif') center center no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}
#loading-msg {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    margin-left: -150px;
    text-align: center;
    color: rgb(228, 228, 25);
    padding-top: 70px;
}

/* FRACTIONS */
.fraction {
    float: left;
}
.one-half {
    width: 50%;
    margin: 0;
}
.one-third {
    width: 30%;
    margin-left: 5%;
}
.one-third:first-child {
    margin-left: 0;
}
.two-thirds {
    width: 65%;
    margin-left: 5%;
}
.two-thirds:first-child {
    margin-left: 0;
}
.one-fifth {
    width: 18%;
    margin-left: 2.5%;
}
.one-fifth:first-child {
    margin-left: 0;
}




/* TODO remove when done debugging*/
#debug-log {
    position: absolute;
    top: 0;
    left: 0;
    opacity: .7;
    width: 100%;
    background: blanchedalmond;
    word-break: break-all;
}

#toggle-debug-log {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    border-width: 0;
    width: inherit;
    z-index: 10;
    height: 60px;
}

#footer {
    height: 100px;
    width: 100%;
    position: fixed;
    bottom: 0;
    background: linear-gradient(rgba(255, 255, 255, .7), rgba(255, 255, 255, 1));
    background: -webkit-linear-gradient(rgba(255, 255, 255, .7), rgba(255, 255, 255, 1));
    z-index: 10;
}
#footer .button {
    height: 80px;
    margin: 5px;
    padding: 5px;
    color: white;
    text-align: center;
}
#footer .button.square {
    width: 80px;
}
#footer .button.wide {
    width: 150px;
}
#play-button {
    margin-left: auto !important;
    margin-right: auto !important;
    font-size: 200%;
    line-height: 80px;
}
#add-sensors-button,
#add-actuators-button {
    font-size: 300%;
    line-height: 1em;
}
#add-sensors-button {
    float: left;
}
#add-actuators-button {
    float: right;
}
