#field {
    background: antiquewhite;
}
.pin {
    width: 85%;
    height: 100px;
    margin-top: 25px;
    margin-bottom: 25px;
    position: relative;
}
.pin.sensor {
    margin-left: 10%;
    margin-right: 5%;
}
.pin.actuator {
    margin-left: 5%;
    margin-right: 10%;
}
.pin-box {
    height: 100%;
    background: rgb(107,48,0);
    width: 90%;
}
.pin-label {
    position: absolute;
    top: 5%;
    left: 4px;
    z-index: 5;
}
.pin-value-container {
    height: 90%;
    position: absolute;
    top: 5%;
    left: 2px;
    z-index: 0;
    width: 65%;
    background-color: rgba(245, 245, 245, .2);
}
.pin-value {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    background: blueviolet;
    transition: height 5s;
    -webkit-transition: height 5s;
    -moz-transition: height 5s;
    -o-transition: height 5s;
}
.actuator .pin-box {
    float: right;
    text-align: right;
}
.pin-port {
    position: absolute;
    top: 0;
    height: 120px;
    width: 120px;
    margin-top: -10px; /* (.pin height - .pin-port height)/2 */
}
.sensor .pin-port {
    right: 0;
}
.actuator .pin-port {
    .left: 0;
}
.endpoint {
    width: 80px;
    height: 80px;
    border-width: 20px;
    border-style: solid;
    border-radius: 60px;
}
.sensor .endpoint {
    border-color: rgb(0, 102, 24);
    background: rgb(232, 189, 0);
}
.actuator .endpoint {
    border-color: rgb(232, 52, 8);
    background: antiquewhite;
}
.sensor.activated .endpoint {
    background: rgb(250, 250, 60);
}
.actuator.activated .endpoint {
    background: rgb(250, 250, 60);
}
.actuator.connected .endpoint {
    background: rgb(232, 189, 0);
}
