/* clean up CSS. now that I am using different templates for pins in the add pins menu and pins in the play mode, I don't think I need this separate CSS file at all. */

#play-pins {
    padding-top: 50px;
    padding-bottom: 100px;
}
#play-pins .pin {
    display: inline-block;
    width: 94%;
    border-width: 15px;
    border-color: transparent;
    margin-left: 3% !important;
    margin-right: 3% !important;
    margin-top: 25px;
    margin-bottom: 0;
    box-sizing: border-box;
    height: inherit;
}
#play-pins .pin-box {
    height: 145px;
    width: 100%;
    display: inline-block;
    background-color: rgb(135, 135, 135);
}

#play-pins .pin.pressed {
    border-color: rgb(180, 206, 184);
}
#play-pins .pin.pressed .pin-box {
    background-color: rgb(45, 104, 84);
}
#play-pins .pin.pressed .pin-box:before {
    display: none;
}
#play-pins .pin .pin-box:active {
    background-color: rgb(83, 83, 83);
    border-color: transparent;
}
#play-pins .pin.pressed .pin-box:active {
    background-color: rgb(45, 84, 64);
}

#play-pins .pin-label,
#play-pins .pin-name {
    color: white;
    font-size: 100%;
    font-weight: normal;
    height: 140px;
    line-height: 140px;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

#play-pins .pin-value-container {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 15px solid rgb(135, 135, 135);
    background: rgb(175, 175, 175);
    box-sizing: border-box;
}

#play-pins .pin-value-in-range {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    background: rgb(45, 104, 84);
    z-index: 0;
}

#play-pins .vertical-slider-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#play-pins input[type=range].vertical-slider {
    -webkit-appearance: none;
    -webkit-transform: rotate(270deg);
    width: 144px;
    height: 150px;
    background-color: transparent;
    z-index: 4;
    position: absolute;
    top: -67px;
    left: 50%;
    margin-left: -100px;
    border-style: solid;
    border-color: transparent;
    border-top-width: 50px;
    border-bottom-width: 50px;
    border-left-width: 30px;
    border-right-width: 30px;
    box-sizing: content-box;
}

#play-pins input[type=range].vertical-slider:focus {
    box-shadow: 0 0 0 rgba(0,0,0,0);
    outline: 0 none;
}

#play-pins input[type=range].vertical-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    display: block;
    width: 24px;
    height: 160px;
    background: rgb(115, 115, 115);
    border-radius: 10px;
}
