<div id="add-pins-menu" class="chatbox-container {{$routeParams.type}}">
    <div class="chatbox">
        <div class="chatbox-inner">
            <div class="row">
                <div class="col-xs-10 column-title">
                    <span ng-if="$routeParams.type === 'sensors'">
                        add/remove sensors
                    </span>
                    <span ng-if="$routeParams.type === 'actuators'">
                        add/remove actuators
                    </span>
                </div>

                <div class="col-xs-2">
                    <div class="my-close"
                      ng-click="goBack(1)">
                        &times;
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-4"
                  ng-if="$routeParams.type === 'sensors'"
                  ng-repeat="pin in d.sensors"
                  pin-stub>
                </div>
                <div class="col-xs-4"
                  ng-if="$routeParams.type === 'actuators'"
                  ng-repeat="pin in d.actuators"
                  pin-stub>
                </div>
            </div>

        </div>
    </div>

    <div class="chatbox-triangle"></div>

    <div class="chatbox-bg"></div>
</div>
