<div class="container">

    <!--TODO use a directive to format all forms the same way-->

    <div class="row">
        <div class="col-xs-12">
            <h1>Confirm Device</h1>
        </div>
    </div>

    <div class="row padded">
        <div class="col-xs-12">
            <p>To confirm that you are connecting to your own device, please complete the MAC address below. The first three digits are provided for you. The rest of the MAC address can be found printed on the wifi card that is attached to the bottom of your Galileo.</p>
        </div>
    </div>

    <div class="row padded">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            MAC Address:
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <span>
                <!-- TODO get actual leading digits of MAC address from server -->
                <!-- TODO if I got the whole MAC address from the server, I could separate out the leading digits and confirm the user entry of the rest of the digits on the client side rather than making another server request for that. would that be better? -->
                123
            </span>
            <input ng-model="form.mac_address" placeholder="XXX">
        </div>
    </div>

    <div class="row">
        <div class="button wide pull-right col-xs-12 col-sm-6 col-md-4 col-lg-4"
          ng-click="submit()">
            Next <span class="next-icon glyphicon glyphicon-circle-arrow-right"><span>
        </div>
    </div>

</div>
