<div class="container">

    <div class="row">
        <div class="col-xs-12">
            <h1>Confirm Device</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <p>To confirm that you are connecting to your own device, please complete the MAC address below. The first three digits are provided for you. The rest of the MAC address can be found printed on the wifi card that is attached to the bottom of your Galileo.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            MAC Address:
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <span>
                123
            </span>
            <input ng-model="form.mac_end_digits" placeholder="XXX">
        </div>
    </div>

</div>
