<div class="container setup-form">

    <!--TODO use a directive to format all forms the same way-->

    <div step="1" steps-pics></div>

    <div class="row padded">
        <div class="col-xs-12">
            <h1>Connect to your Galileo network</h1>
        </div>
    </div>

    <div class="row padded">
        <div class="col-xs-12">
            <input ng-model="form.mac_address"
              placeholder="Galileo Network">
        </div>
    </div>

    <div class="row padded">
        <div class="col-xs-12">
            <input ng-model="form.default_password"
              placeholder="Default Password"
              type="password">
        </div>
    </div>

    <div class="row">
        <div class="button wide submit"
          ng-click="submit()">
            Connect
        </div>
    </div>

</div>
