<div class="container">
    <div step="3" steps-pics></div>

    <div id="loading"></div>

    <div class="row padded">
        <div class="col-xs-12">
            <p>Make sure your computer connects to your home wifi network.</p>
        </div>
    </div>

    <div class="row padded">
        <div class="col-xs-12">
            <p>Galileo is connecting to your home wifi network... This could take several minutes... Please wait.</p>
        </div>
    </div>

    <div class="row padded">
        <div class="col-xs-12">
            <p>This page will redirect you when everything is ready.</p>
        </div>
    </div>

    <!--TODO error message -->
</div>
