<div class="container">
    <div step="3" steps-pics></div>
    <div id="loading"></div>
    <div class="row">
        <div class="col-xs-12">
            <p>
            Galileo is connecting to your home wifi network... Please wait.
            </p>
            <p>
            Make sure your computer connects back to your home wifi network.
            </p>
            <p>
            This page will redirect you when everything is ready. It could take several minutes.
            </p>
        </div>
    </div>
    <div class="row bg-danger" ng-show="false">
        <div class="col-xs-12">
            <p>
                Sorry, something didn't work. Please try these steps:
            </p>
            <ol>
                <li>Make sure you are connected to your home network</li>
                <li>Go to {{s.url_root}}</li>
            </ol>
            <p>
                If that still doesn't work, we're very sorry. You might try contacting carlos.montesinos@intel.com for support.
            </p>
        </div>
    </div>
</div>
