<div class="container setup-form">

    <div step="2" steps-pics></div>

    <div class="row padded">
        <div class="col-xs-12">
            <h1>Change your password</h1>
        </div>
    </div>

    <div class="row padded">
        <div class="col-xs-12">
            <input ng-model="form.username"
              placeholder="New Password"
              type="password">
        </div>
    </div>
    <div class="row padded">
        <div class="col-xs-12">
            <input ng-model="form.user_password"
              placeholder="Confirm Password"
              type="password">
        </div>
    </div>

    <div class="row">
        <div class="button wide submit"
          ng-click="submit()">
            Change Password
        </div>
    </div>

</div>
