<div id="control-mode"
  class="container-fluid">
    <div class="row">
        <div ng-class="{
            'col-xs-6': true,
            'pin': true,
            'analog': pin.is_analog,
            'digital': !pin.is_analog,
            'sensor': pin.is_input,
            'actuator': !pin.is_input,
            'pressed': pin.value === 100}"
          ng-repeat="pin in d.pins">
            <div ng-if="!pin.is_analog"
              pin-button>
            </div>
            <div ng-if="pin.is_analog"
              pin-slider>
            </div>
        </div>
    </div>
</div>
