<div class="row padded steps-pics">
    <div class="col-xs-4">
        <div data-step="1"
          ng-class="{
            'step-pic': true,
            'active': attrs.step === '1'}">
        </div>
    </div>
    <div class="col-xs-4">
        <div data-step="2"
          ng-class="{
            'step-pic': true,
            'active': attrs.step === '2'}">
        </div>
    </div>
    <div class="col-xs-4">
        <div data-step="3"
          ng-class="{
            'step-pic': true,
            'active': attrs.step === '3'}">
        </div>
    </div>
</div>
