<div class="container setup-form">

    <div step="3" steps-pics></div>

    <div class="row padded">
        <div class="col-xs-12">
            <h1>Connect Galileo to your home network</h1>
        </div>
    </div>

    <div class="row padded">
        <div class="col-xs-12 text-center">
            <p>Enter your network information to wirelessly link your systems</p>
        </div>
    </div>

    <div class="row padded">
        <div class="col-xs-12">
            <input ng-model="form.ssid"
              placeholder="Network">
        </div>
    </div>
    <div class="row padded">
        <div class="col-xs-12">
            <input ng-model="form.pwd"
              placeholder="Password"
              type="password">
        </div>
    </div>

    <div class="row">
        <div class="button wide submit"
          ng-click="submit()">
            Connect
        </div>
    </div>

</div>
