[Unit]
Description=Maker-Node setup and control server
After=connman.service

[Service]
Type=simple
WorkingDirectory=/home/root/MakerNode/
ExecStart=/bin/sh sh/maker-node.sh start 
ExecStop=/bin/sh sh/maker-node.sh stop
ExecReload=/bin/sh sh/maker-node.sh restart
StandardOutput=tty
 
[Install]
WantedBy=multi-user.target

