$yellow: rgb(247, 193, 40);
$bright_yellow: rgb(255, 238, 40);
$dark_yellow: rgb(159, 122, 35);
$green: rgb(45, 104, 84);
$black: rgb(44, 38, 33);
$gray: rgb(157, 160, 173);
$bg_gray: rgb(236, 236, 236);
$chatbox_color: rgb(198, 188, 175);
$intel_blue: rgb(0, 113, 197);
$bright_blue: rgb(57, 156, 235);
$medium_blue: rgb(25, 92, 187);
$dark_blue: rgb(18, 68, 141);

@mixin tap_feedback($color) {
    background-color: $color;
    box-shadow: 4px 4px 4px $gray;

    &:active {
        @if lightness($color) > 16 {
            background-color: darken($color, 10%);
        } @else {
            background-color: lighten($color, 10%);
        }
        box-shadow: 2px 2px 2px $gray;
        position: relative;
        top: 2px;
        left: 2px;
    }
}

@font-face {
    font-family: 'Neo Sans Intel';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/NeoSansIntel/NeoSansIntel.ttf');
}

@font-face {
    font-family: 'Droid Sans';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/droid-sans/DroidSans.ttf');
}
.intel-font {
    font-family: 'Neo Sans Intel';
}
.droid-font {
    font-family: 'Droid Sans';
}
.text-muted {
    font-size: 40%;
}
.pin-name {
    font-family: 'Neo Sans Intel';
}
.pin-label {
    font-family: 'Droid Sans';
}


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 42px;
    font-family: 'Droid Sans';
}

h1 {
    font-size: 150%;
    line-height: 1.5em;
    color: $intel_blue;
    text-align: center;
}

p {
    font-size: 95%;
    line-height: 1.2em;
}

.navbar {
    background: $intel_blue;
    color: white;
    border-bottom: 5px solid rgb(15, 60, 129);
}

.hide {
    display: none;
}

.row.padded {
    padding-bottom: .5em;
}

#loading {
    background: rgb(255, 255, 255) url('../img/loading.gif') center center no-repeat;
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}
.error-msg {
    text-align: center;
}


/* APP CONTAINER, HEADER, FOOTER */
#app-container {
    position: relative;
    padding-bottom: 50px;
}
#header .navbar-header {
    width: 100%;
}
#header table {
    width: 100%;
}
#footer {
    padding-top: 2em;
}

/* SETUP FORM */
.setup-form input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.setup-form .button.submit {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 375px;
}
.steps-pics-container {
    margin-left: auto;
    margin-right: auto;
}
.step-pic {
    max-width: 100%;
}
.step-pic.active {
    box-shadow: 15px 15px 5px rgb(230, 230, 230);
}

.pin-label {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
    cursor: default;
}

/* BUTTONS */

.button {
    min-height: 60px;
    margin: 20px;
    padding: 0;
    color: white;
    text-align: center;
    line-height: 60px;
    cursor: default;
    position: relative;
    @include tap_feedback($intel_blue);
}
.button.square {
    max-width: 60px;
    width: 100%;
}
.button.wide {
    max-width: 300px;
    width: 100%;
}
.button.danger {
    @include tap_feedback(rgb(189, 42, 42));
}
.button.secondary {
    @include tap_feedback($gray);
}

/* CONTROL MODE */

#control-mode .sensors {
    background-color: $bg_gray;
}

// TODO colors
// TODO real tap feedback for digital pin buttons

$pin_h: 75px;
$pin_button_h: $pin_h;
$pin_slider_h: 0.5 * $pin_h; // sensors slider height
$pin_name_w: 50px;
$pin_aa_h: 0.6 * $pin_h; // analog actuators slider height
$pin_slider_thumb_h: 0.8 * $pin_h;

#control-mode div[pin-button],
#control-mode div[pin-slider] {
    height: $pin_h;
    position: relative;
    border: 1px solid black;
}
// all pins
#control-mode div.pin-name {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: $pin_name_w;
    line-height: $pin_h;
    text-align: right;
    padding-right: 1em;
    box-sizing: border-box;
    font-size: 25px;
    font-weight: 600;
    color: $intel_blue;
}
#control-mode div.pin-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-left: $pin_name_w solid transparent;
    box-sizing: border-box;
}

// sensors
#control-mode .pin.sensor .pin-value-container-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#control-mode .pin.sensor .pin-value-container {
    position: absolute;
    top: ($pin_h - $pin_slider_h)/2;
    left: 0;
    height: $pin_slider_h;
    width: 100%;
    background-color: $gray;
    border-radius: $pin_slider_h/2;
}
#control-mode .pin.sensor .pin-value {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: $pin_slider_h/2;
    background-color: $bright_blue;
    border-right: 5px solid $dark_blue;
    box-sizing: border-box;
}
#control-mode .pin.sensor.off .pin-value {
    border-right-width: 0;
}

// analog actuators
#control-mode .pin.actuator .pin-value-container-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-left: $pin_slider_thumb_h/2 solid transparent;
    border-right: $pin_slider_thumb_h/2 solid transparent;
    box-sizing: border-box;
}
#control-mode .pin.actuator .pin-value-container {
    position: absolute;
    top: ($pin_h - $pin_aa_h)/2;
    left: 0;
    height: $pin_aa_h;
    width: 100%;
    background-color: $gray;
    border-radius: $pin_aa_h/2;
}
#control-mode .pin.actuator .pin-value {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: $pin_aa_h/2;
    background-color: $dark_blue;
}

/*
// digital actuators
#control-mode .pin.digital.actuator .pin-box {
    height: 100%;
    @include tap_feedback($bright_blue);
}
#control-mode .pin.digital.actuator.pressed .pin-box {
    @include tap_feedback($bright_yellow);
}*/

// analog actuators
#control-mode .pin-slider-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#control-mode .pin-slider-container input[type=range] {
    -webkit-appearance: none;
    z-index: 4;
    position: absolute;
    top: ($pin_h - $pin_aa_h)/2;
    left: 0;
    height: $pin_aa_h;
    width: 100%;
    background: transparent;
    border-radius: $pin_aa_h/2;
}
#control-mode .pin-slider-container input[type=range]:focus {
    box-shadow: 0 0 0 transparent;
    outline: 0 none;
}
#control-mode .pin-slider-container input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    display: block;
    width: $pin_slider_thumb_h;
    height: $pin_slider_thumb_h;
    border-radius: $pin_slider_thumb_h/2;
    background: $bright_blue;
    box-shadow: 2px 2px 0 0 $medium_blue;
}

/* SMALL DEVICES */
@media (max-device-width: 4in) {

}

@media (max-device-width: 4in) and (min-resolution: 100dpi) {

    html, body {
        font-size: 60px;
    }
    .button {
        min-height: 100px;
        margin: 10px;
        line-height: 100px;
    }
    .button.square {
        max-width: 100px;
        width: 100%;
    }
    .button.wide {
        max-width: 500px;
    }

}
