html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#field {
    width: 90%;
    height: 90%;
    margin: 5%;
    padding: 0;
    border: 1px solid black;
    position: relative;
}

.el {
    position: absolute;
    width: 50px;
    height: 50px;
    background: black;
}

.highlight {
    background: green;
}
.activated {
    border: 3px solid rgb(255, 255, 0);
}
