<!-- TODO instead of using my own class 'hide', i should just use ng-show. -->

<div id="settings-button"
  ng-class="{
      'black': true,
      'hide': s.settings_pin !== null || s.adding_pins !== null}">
    <span class="glyphicon glyphicon-cog"></span>
</div>

<div id="column-divider"
  ng-class="{
      'gray-border': true,
      'hide': s.settings_pin !== null || s.adding_pins !== null}">
</div>

<div id="pins-container"
  ng-class="{
      'container-fluid': true,
      'hide': s.settings_pin !== null || s.adding_pins !== null}">
    <div class="row">

        <div id="sensors" class="col-xs-6">
            <div
              ng-class="{
                  'sensors': true,
                  'column-title': true,
                  'hide': d.visible_sensors.length > 0}">
                sensors
            </div>
            <div id="{{pin.id}}" ng-repeat="pin in d.visible_sensors" sensor></div>
        </div>

        <div id="actuators" class="col-xs-6">
            <div
              ng-class="{
                  'actuators': true,
                  'column-title': true,
                  'hide': d.visible_actuators.length > 0}">
                actuators
            </div>
            <div id="{{pin.id}}" ng-repeat="pin in d.visible_actuators" actuator></div>
        </div>

    </div>
</div>

<div id="connections-container"
  ng-class="{
      'hide': s.settings_pin !== null || s.adding_pins !== null}">
    <div id="connect-{{c.source}}-{{c.target}}"
      ng-repeat="c in d.connections"
      class="connection"
      ng-show="left !== null"
      data-sensor_id="{{c.source}}"
      data-actuator_id="{{c.target}}"
      connection>
        <svg style="position: absolute;" pointer-events="none">
            <path class="edge-bg" pointer-events="none" fill="none"></path>
            <path class="edge" pointer-events="none" fill="none"></path>
        </svg>

    </div>
</div>

<div id="settings-container">
    <div ng-repeat="pin in d.pins" pin-settings></div>
</div>

