<div id="column-divider"></div>

<div class="container-fluid">
    <div class="row">
        <div id="settings-button"
          class="col-xs-6 col-xs-offset-3"
          ng-click="goTo('app_settings');">
            <span class="glyphicon glyphicon-cog"></span>
        </div>
    </div>
</div>

<div id="pins-container"
  class="container-fluid">
    <div class="row">

        <div id="sensors" class="col-xs-6">
            <div class="sensors column-title"
              ng-show="d.visible_sensors.length === 0">
                sensors
            </div>
            <div id="{{pin.id}}" ng-repeat="pin in d.visible_sensors" pin-original></div>
        </div>

        <div id="actuators" class="col-xs-6">
            <div class="actuators column-title"
              ng-show="d.visible_actuators.length === 0">
                actuators
            </div>
            <div id="{{pin.id}}" ng-repeat="pin in d.visible_actuators" pin-original></div>
        </div>

    </div>
</div>

<div id="connections-container">
    <div id="connect-{{c.source}}-{{c.target}}"
      ng-repeat="c in d.connections"
      class="connection"
      ng-show="left !== null"
      data-sensor_id="{{c.source}}"
      data-actuator_id="{{c.target}}"
      connection>
        <svg style="position: absolute;" pointer-events="none">
            <path class="edge-bg" pointer-events="none" fill="none"></path>
            <path class="edge" pointer-events="none" fill="none"></path>
        </svg>

    </div>
</div>
