<!-- TODO instead of using my own class 'hide', i should just use ng-show. -->

<div id="column-divider"
  ng-class="{
      'gray-border': true,
      'hide': s.settings_pin !== null ||
              s.adding_pins !== null ||
              s.show_app_settings}">
</div>

<div id="settings-button"
  class="black"
  ng-show="s.settings_pin === null && s.adding_pins === null && !s.show_app_settings"
  ng-click="s.show_app_settings = true;">
    <span class="glyphicon glyphicon-cog"></span>
</div>

<div id="app-settings"
  class="settings"
  ng-show="s.show_app_settings">
    <div class="settings-inner">
        <div class="container-fluid">
            <div class="row padded">
                <div class="col-xs-12">
                    <div class="column-title">
                        App Settings
                    </div>
                </div>
            </div>
            <div class="row padded">
                <div class="col-xs-3">
                    <div class="button danger"
                      ng-click="s.show_reset_confirmation = true;">
                        Reset
                    </div>
                </div>
                <div class="col-xs-9">
                    Remove all pins and connections, restore all pin settings to defaults.
                </div>
            </div>
            <div class="row padded">
                <div class="col-xs-3 col-xs-offset-9">
                    <div class="button black-bg"
                      ng-click="s.show_app_settings = false; s.show_reset_confirmation = false;">
                        OK
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="confirm-remove-container container-fluid"
        ng-show="s.show_reset_confirmation">
        <div class="row confirm-remove-row">
            <div class="confirm-remove col-xs-8 col-xs-offset-2">
                <div class="row padded">
                    <div class="col-xs-12">
                        Are you sure you want to do this?
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="button gray-bg"
                          ng-click="s.show_reset_confirmation = false;">
                            No
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="button black-bg"
                          ng-click="reset_app(); s.show_app_settings = false; s.show_reset_confirmation = false;">
                            Yes
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="pins-container"
  ng-class="{
      'container-fluid': true,
      'hide': s.settings_pin !== null ||
              s.adding_pins !== null ||
              s.show_app_settings}">
    <div class="row">

        <div id="sensors" class="col-xs-6">
            <div
              ng-class="{
                  'sensors': true,
                  'column-title': true,
                  'hide': d.visible_sensors.length > 0}">
                sensors
            </div>
            <div id="{{pin.id}}" ng-repeat="pin in d.visible_sensors" sensor></div>
        </div>

        <div id="actuators" class="col-xs-6">
            <div
              ng-class="{
                  'actuators': true,
                  'column-title': true,
                  'hide': d.visible_actuators.length > 0}">
                actuators
            </div>
            <div id="{{pin.id}}" ng-repeat="pin in d.visible_actuators" actuator></div>
        </div>

    </div>
</div>

<div id="connections-container"
  ng-class="{
    'hide': s.settings_pin !== null ||
            s.adding_pins !== null ||
            s.show_app_settings}">
    <div id="connect-{{c.source}}-{{c.target}}"
      ng-repeat="c in d.connections"
      class="connection"
      ng-show="left !== null"
      data-sensor_id="{{c.source}}"
      data-actuator_id="{{c.target}}"
      connection>
        <svg style="position: absolute;" pointer-events="none">
            <path class="edge-bg" pointer-events="none" fill="none"></path>
            <path class="edge" pointer-events="none" fill="none"></path>
        </svg>

    </div>
</div>

<div id="settings-container">
    <div ng-repeat="pin in d.pins" pin-settings></div>
</div>

