<div
  ng-class="{
      'pin': true,
      'sensor': pin.is_input,
      'actuator': !pin.is_input,
      'connected': pin.is_connected,
      'analog': pin.is_analog,
      'digital': !pin.is_analog,
      'pressed': pin.value === 100,
      'pin-button': true}">
    <div class="pin-box"
      ng-click="pin_button_click(pin.id)">
        <div class="pin-label"
          ng-if="pin.label.length > 0">
            {{pin.label}}
        </div>
        <div class="pin-name"
          ng-if="pin.label.length === 0">
            {{pin.name}}
        </div>
    </div>
</div>
