<div
  ng-class="{
      'pin': true,
      'analog': true}">
    <div class="pin-box">
        <div class="pin-value-container">
            <div class="pin-label"
              ng-if="pin.label.length > 0">
                {{pin.label}}
            </div>
            <div class="pin-name"
              ng-if="pin.label.length === 0">
                {{pin.name}}
            </div>

            <div class="pin-value"
              style="width: {{pin.value}}%;">
            </div>
        </div>
    </div>

    <div class="pin-slider-container">
        <input type="range"
          min="0"
          max="100"
          step="1"
          ng-model="pin.value"
          value="{{pin.value}}"
          ng-change="send_pin_update([pin.id], 'value')">
    </div>
</div>
