<!-- pin stubs are meant to be toggled between "clicked" and "unclicked" -->

<div
  ng-class="{
      'pin': true,
      'sensor': pin.is_input,
      'actuator': !pin.is_input,
      'connected': pin.is_connected,
      'analog': pin.is_analog,
      'digital': !pin.is_analog,
      'clicked': is_pin_stub_clicked(pin.id),
      'pin-stub': true}">
    <div class="pin-box"
      ng-click="pin_stub_click(pin.id)">
        <div class="pin-label">
            {{pin.label}}
        </div>
        <div class="pin-name">
            {{pin.name}}
        </div>
        <div class="pin-value-container">
            <div class="pin-value"
              ng-hide="pin.value === 0"
              style="height:{{pin.value}}%;">
            </div>
        </div>
    </div>
</div>
