<div
  ng-class="{
      'settings': true,
      'sensor': pin.is_input,
      'actuator': !pin.is_input,
      'analog': pin.is_analog,
      'digital': !pin.is_analog}"
  data-pin="{{pin.id}}"
  ng-show="ready">
    <div class="settings-inner">
        <div class="container-fluid">

            <div class="row padded">
                <div class="col-xs-12 pin-name">
                    {{pin.name}}
                </div>
            </div>

            <div class="row droid-font">
                <div class="col-xs-2">
                    Name:
                </div>
                <div class="col-xs-10">
                    <div class="row">
                        <div class="col-xs-12">
                            <input type="text"
                              placeholder="Pin Label"
                              class="pin-label"
                              value="{{pin_label}}"
                              ng-model="pin_label"
                              ng-change="truncate_label()"
                              ng-blur="update_pin_label()">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <span class="extra-small pin-label-input-label">
                                ({{label_limit_length}} char max)
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row padded droid-font pin-type-row">
                <div class="col-xs-2">
                    Type:
                </div>
                <div class="col-xs-10 pin-type">
                    {{pin.type}}
                </div>
            </div>

            <div class="row padded">
                <div class="col-xs-6">

                    <!-- PIN VALUE SETTINGS & INVERT -->
                    <div ng-class="{
                        'pin-value-display-settings': true,
                        'has-pin-invert': !pin.is_input}"> <!-- TODO better class name than this --> <!-- NOTE the has-pin-invert gives an extra bottom margin so the pin invert div will show up. TODO better CSS -->
                        <div class="vertical-slider-container triangle-point-right"
                          ng-show="pin.is_analog && !pin.is_input">
                            <input type="range"
                              class="vertical-slider min"
                              min="0"
                              max="100"
                              step="1"
                              ng-model="pin.input_min"
                              value="{{pin.input_min}}"
                              ng-change="sync_min_max()">
                        </div>
                        <div class="pin-value-container">
                            <div class="threshold"
                              ng-show="pin.is_analog"
                              style="bottom: {{average_min_max()}}%;">
                            </div>
                            <div class="pin-value"
                              ng-hide="pin.value === 0"
                              style="height: {{pin.value}}%;">
                            </div>
                            <div class="pin-value-range-outline-top"
                              ng-show="pin.is_analog && pin.is_input"
                              style="top: {{diff_100_max()}}%;">
                            </div>
                            <div class="pin-value-range-outline-not-top"
                              ng-show="pin.is_analog && !pin.is_input"
                              style="bottom: {{pin.input_min}}%;
                                     height: {{diff_max_min()}}%;">
                            </div>
                            <div class="pin-value-container-above-range"
                              ng-show="pin.is_analog && !pin.is_input"
                              style="height: {{diff_100_max()}}%;">
                            </div>
                            <div class="pin-value-container-below-range"
                              ng-show="pin.is_analog && !pin.is_input"
                              style="height: {{pin.input_min}}%;">
                            </div>

                            <!-- PIN INVERT -->
                            <div class="pin-invert-container"
                              ng-if="!pin.is_input">
                                <input type="checkbox"
                                  ng-model="pin.is_inverted"
                                  ng-change="send_pin_update([pin.id], 'is_inverted')">
                                <label for="checkbox">Invert</label>
                            </div>
                        </div>
                        <div ng-class="vertical-slider-container triangle-point-left"
                          ng-show="pin.is_analog && !pin.is_input">
                            <input type="range"
                              class="vertical-slider max"
                              min="0"
                              max="100"
                              step="1"
                              ng-model="pin.input_max"
                              value="{{pin.input_max}}"
                              ng-change="sync_min_max()">
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="row padded">
                        <div class="col-xs-12 pin-scaled-val">
                            <!--TODO better CSS than this -->
                            <span class="black-text">
                                Value:&nbsp;
                            </span>
                            {{scaled_value()}}%
                        </div>
                    </div>
                    <div class="row droid-font"
                      ng-if="!pin.is_input">
                        <div class="col-xs-12">
                            <input type="checkbox"
                              ng-model="pin.is_timer_on"
                              ng-change="send_pin_update([pin.id], 'is_timer_on')">
                            <label for="checkbox">Stay on for</label>
                            <br/>
                            <!-- TODO timer_value data binding does not work as well as angular stuff should. I don't know why --> 
                            <input type="number"
                              ng-class="{
                                  'gray-text': !pin.is_timer_on,
                                  'timer-value': true}"
                              min="0"
                              ng-disabled="!pin.is_timer_on"
                              ng-model="pin_timer_value"
                              ng-blur="update_pin_timer_value()">
                            <label for="number"
                              ng-class="{'gray-text': !pin.is_timer_on}">
                                seconds
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row padded">
                <div class="col-xs-6">
                    <div class="button secondary"
                      ng-click="goTo('pin_settings/'+pin.id+'/remove_pin_dialog');">
                        Remove
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="button"
                      ng-click="goBack(1);">
                        OK
                    </div>
                </div>
            </div>

        </div> <!-- end container-fluid -->
    </div> <!-- end settings-inner -->
</div>
