<!-- including CSS here is bad form, refactor CSS so this is not necessary -->
<link rel="stylesheet" href="static/css/play_mode.css">

<div id="play-pins"
  class="container-fluid"
  ng-hide="s.settings_pin !== null || s.adding_pins !== null">
    <div ng-class="{
        'actuators': true,
        'column-title': true,
        'hide': d.visible_actuators.length > 0}">
        <div class="col-xs-12">
            actuators with no connections
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6"
          ng-repeat="pin in d.visible_actuators"
          ng-hide="pin.is_connected">
            <div class="pin-outer pin-id-mod-5-is-{{parseInt(pin.id) % 5}}"
              pin-button>
            </div>
        </div>
    </div>
</div>
