@font-face {
  font-family: 'Neo Sans Intel';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/NeoSansIntel/NeoSansIntel.ttf"); }
@font-face {
  font-family: 'Droid Sans';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/droid-sans/DroidSans.ttf"); }
.intel-font {
  font-family: 'Neo Sans Intel'; }

.droid-font {
  font-family: 'Droid Sans'; }

.text-muted {
  font-size: 40%; }

.pin-name {
  font-family: 'Neo Sans Intel'; }

.pin-label {
  font-family: 'Droid Sans'; }

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 42px;
  font-family: 'Droid Sans'; }

h1 {
  font-size: 150%;
  line-height: 1.5em;
  color: #0071c5;
  text-align: center; }

p {
  font-size: 95%;
  line-height: 1.2em; }

.navbar {
  background: #0071c5;
  color: white;
  border-bottom: 5px solid #0f3c81; }

.hide {
  display: none; }

.padded {
  padding-bottom: .5em; }

#loading {
  background: white url("../img/loading.gif") center center no-repeat;
  width: 300px;
  height: 300px;
  margin-left: auto;
  margin-right: auto; }

.error-msg {
  text-align: center; }

/* APP CONTAINER, HEADER, FOOTER */
#app-container {
  position: relative;
  padding-bottom: 50px; }

#header .navbar-header {
  width: 100%; }

#header table {
  width: 100%; }

#footer {
  padding-top: 2em; }

/* SETUP FORM */
.setup-form input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

.setup-form .button.submit {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 375px; }

.steps-pics-container {
  margin-left: auto;
  margin-right: auto; }

.step-pic {
  max-width: 100%; }

.step-pic.active {
  box-shadow: 15px 15px 5px #e6e6e6; }

.pin-label {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
  cursor: default; }

/* BUTTONS */
.button {
  min-height: 60px;
  margin: 20px;
  padding: 0;
  color: white;
  text-align: center;
  line-height: 60px;
  cursor: default;
  position: relative;
  background-color: #0071c5;
  box-shadow: 4px 4px 4px #9da0ad; }
  .button:active {
    background-color: #005492;
    box-shadow: 2px 2px 2px #9da0ad;
    position: relative;
    top: 2px;
    left: 2px; }

.button.square {
  max-width: 60px;
  width: 100%; }

.button.wide {
  max-width: 300px;
  width: 100%; }

.button.danger {
  background-color: #bd2a2a;
  box-shadow: 4px 4px 4px #9da0ad; }
  .button.danger:active {
    background-color: #932121;
    box-shadow: 2px 2px 2px #9da0ad;
    position: relative;
    top: 2px;
    left: 2px; }

.button.secondary {
  background-color: #9da0ad;
  box-shadow: 4px 4px 4px #9da0ad; }
  .button.secondary:active {
    background-color: #818596;
    box-shadow: 2px 2px 2px #9da0ad;
    position: relative;
    top: 2px;
    left: 2px; }

/* CONTROL MODE */
#control-mode .sensors {
  background-color: #ececec; }

#control-mode div[pin-button],
#control-mode div[pin-slider] {
  height: 75px;
  position: relative; }

#control-mode .pin-name {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100px;
  line-height: 75px;
  text-align: right;
  padding-right: 1em;
  box-sizing: border-box;
  font-size: 25px;
  font-weight: 600;
  color: #0071c5; }

#control-mode .pin-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-left: 100px solid transparent;
  box-sizing: border-box; }

#control-mode .pin.sensor .pin-inner {
  border-right: 100px solid transparent; }

#control-mode .pin.sensor .pin-value-container-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

#control-mode .pin.sensor .pin-value-container {
  position: absolute;
  top: 18.75px;
  left: 0;
  height: 37.5px;
  width: 100%;
  background-color: #9da0ad;
  border-radius: 18.75px; }

#control-mode .pin.sensor .pin-value {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 18.75px;
  background-color: #399ceb;
  border-right: 5px solid #12448d;
  box-sizing: border-box; }

#control-mode .pin.sensor.off .pin-value {
  border-right-width: 0; }

#control-mode .pin.actuator .pin-value-container-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  box-sizing: border-box; }

#control-mode .pin.actuator .pin-value-container {
  position: absolute;
  top: 15px;
  left: 0;
  height: 45px;
  width: 100%;
  background-color: #9da0ad;
  border-radius: 22.5px; }

#control-mode .pin.actuator .pin-value {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 22.5px;
  background-color: #12448d; }

#control-mode .pin-switch {
  position: absolute;
  top: 0;
  left: 0;
  height: 60px;
  width: 150px; }

#control-mode .pin-switch [class$="container"] {
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%; }

#control-mode .pin-switch .on-container {
  left: 0; }

#control-mode .pin-switch .off-container {
  left: 50%; }

#control-mode .pin-switch [class$="box"] {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 25px;
  text-align: center;
  line-height: 60px; }

#control-mode .pin.on .pin-switch .on-box {
  top: -4px;
  left: -4px;
  background-color: #399ceb;
  box-shadow: 4px 4px #195cbb;
  color: white; }

#control-mode .pin.off .pin-switch .off-box {
  top: -4px;
  left: 4px;
  background-color: #bebebe;
  box-shadow: -4px 4px #858585;
  color: white; }

#control-mode .pin.off .pin-switch .on-box,
#control-mode .pin.on .pin-switch .off-box {
  top: 0;
  left: 0;
  background-color: #dddddd;
  color: #bebebe; }

#control-mode .pin-slider-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }

#control-mode .pin-slider-container input[type=range] {
  -webkit-appearance: none;
  z-index: 4;
  position: absolute;
  top: 15px;
  left: 0;
  height: 45px;
  width: 100%;
  background: transparent;
  border-radius: 22.5px; }

#control-mode .pin-slider-container input[type=range]:focus {
  box-shadow: 0 0 0 transparent;
  outline: 0 none; }

#control-mode .pin-slider-container input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background: #399ceb;
  box-shadow: 2px 2px 0 0 #195cbb; }

/* SMALL DEVICES */
@media (max-device-width: 4in) and (min-resolution: 100dpi) {
  html, body {
    font-size: 60px; }

  .button {
    min-height: 100px;
    margin: 10px;
    line-height: 100px; }

  .button.square {
    max-width: 100px;
    width: 100%; }

  .button.wide {
    max-width: 500px; } }
