@font-face {
  font-family: 'Neo Sans Intel';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/NeoSansIntel/NeoSansIntel.ttf"); }
@font-face {
  font-family: 'Droid Sans';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/droid-sans/DroidSans.ttf"); }
.intel-font {
  font-family: 'Neo Sans Intel'; }

.droid-font {
  font-family: 'Droid Sans'; }

.pin-name {
  font-family: 'Neo Sans Intel'; }

.pin-label {
  font-family: 'Droid Sans'; }

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 42px;
  font-family: 'Droid Sans'; }

h1 {
  font-size: 150%;
  line-height: 1.5em; }

p {
  font-size: 95%;
  line-height: 1.2em; }

.navbar {
  background: #1e60b5;
  color: white; }

.hide {
  display: none; }

.row.padded {
  padding-bottom: .5em; }

#loading {
  background: white url("../img/loading.gif") center center no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50; }

/* APP CONTAINER AND HEADER */
#app-container {
  position: relative;
  padding-bottom: 50px; }

#header .navbar-header {
  width: 100%; }

#header table {
  width: 100%; }

/* SETUP FORM */
.setup-form h1 {
  color: #1e60b5;
  text-align: center; }

.setup-form input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

.setup-form .button.submit {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 375px; }

div[steps-pics] .step-pic[data-step="1"] {
  background-image: url("/static/img/step_1_inactive.jpg");
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 375px; }

div[steps-pics] .step-pic[data-step="2"] {
  background-image: url("/static/img/step_2_inactive.jpg");
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 375px; }

div[steps-pics] .step-pic[data-step="3"] {
  background-image: url("/static/img/step_3_inactive.jpg");
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 375px; }

div[steps-pics][step="1"] .step-pic[data-step="1"] {
  background-image: url("/static/img/step_1_active.jpg");
  box-shadow: 15px 15px 5px #e6e6e6; }

div[steps-pics][step="2"] .step-pic[data-step="2"] {
  background-image: url("/static/img/step_2_active.jpg");
  box-shadow: 15px 15px 5px #e6e6e6; }

div[steps-pics][step="3"] .step-pic[data-step="3"] {
  background-image: url("/static/img/step_3_active.jpg");
  box-shadow: 15px 15px 5px #e6e6e6; }

.pin-label {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
  cursor: default; }

/* BUTTONS */
.button {
  min-height: 60px;
  margin: 20px;
  padding: 0;
  color: white;
  text-align: center;
  line-height: 60px;
  cursor: default;
  position: relative;
  background-color: #1e60b5;
  box-shadow: 4px 4px 4px #9da0ad; }
  .button:active {
    background-color: #174989;
    box-shadow: 2px 2px 2px #9da0ad;
    position: relative;
    top: 2px;
    left: 2px; }

.button.square {
  max-width: 60px;
  width: 100%; }

.button.wide {
  max-width: 300px;
  width: 100%; }

.button.danger {
  background-color: #bd2a2a;
  box-shadow: 4px 4px 4px #9da0ad; }
  .button.danger:active {
    background-color: #932121;
    box-shadow: 2px 2px 2px #9da0ad;
    position: relative;
    top: 2px;
    left: 2px; }

.button.secondary {
  background-color: #9da0ad;
  box-shadow: 4px 4px 4px #9da0ad; }
  .button.secondary:active {
    background-color: #818596;
    box-shadow: 2px 2px 2px #9da0ad;
    position: relative;
    top: 2px;
    left: 2px; }

/* CONTROL MODE */
#control-mode div[pin-button],
#control-mode div[pin-slider] {
  margin: 30px 5% 60px;
  height: 70px;
  box-sizing: border-box; }

#control-mode div[pin-button] .pin-name,
#control-mode div[pin-button] .pin-label {
  height: 100%;
  line-height: 70px;
  text-align: center; }

#control-mode .pin.digital.sensor div[pin-button] .pin-name,
#control-mode .pin.digital.sensor div[pin-button] .pin-label {
  line-height: 40px; }

#control-mode div[pin-slider] .pin-name,
#control-mode div[pin-slider] .pin-label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  text-align: center; }

#control-mode .pin.analog.sensor div[pin-slider] .pin-name,
#control-mode .pin.analog.sensor div[pin-slider] .pin-label {
  line-height: 40px; }

#control-mode .pin.analog.actuator div[pin-slider] .pin-name,
#control-mode .pin.analog.actuator div[pin-slider] .pin-label {
  line-height: 70px; }

#control-mode .pin.sensor.digital .pin-box {
  border-width: 15px;
  border-color: #9da0ad;
  border-style: solid;
  height: 100%;
  background-color: white;
  box-sizing: border-box; }

#control-mode .pin.sensor.digital.pressed .pin-box {
  background-color: #ffee28; }

#control-mode .pin.sensor.analog .pin-box {
  border-width: 15px;
  border-style: solid;
  border-color: #9da0ad;
  height: 70px;
  box-sizing: border-box;
  position: relative; }

#control-mode .pin.digital.actuator .pin-box {
  height: 100%;
  background-color: #3a9ee9;
  box-shadow: 4px 4px 4px #9da0ad; }
  #control-mode .pin.digital.actuator .pin-box:active {
    background-color: #1886d8;
    box-shadow: 2px 2px 2px #9da0ad;
    position: relative;
    top: 2px;
    left: 2px; }

#control-mode .pin.digital.actuator.pressed .pin-box {
  background-color: #ffee28;
  box-shadow: 4px 4px 4px #9da0ad; }
  #control-mode .pin.digital.actuator.pressed .pin-box:active {
    background-color: #f4e100;
    box-shadow: 2px 2px 2px #9da0ad;
    position: relative;
    top: 2px;
    left: 2px; }

#control-mode .pin.analog.actuator div[pin-slider] {
  position: relative; }

#control-mode .pin.analog.actuator .pin-box {
  position: relative;
  top: 0;
  height: 70px;
  background-color: #3a9ee9; }

#control-mode .pin-value-container {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: transparent;
  position: absolute;
  z-index: 0; }

#control-mode .pin-value {
  position: absolute;
  left: 0;
  bottom: 0;
  background: #ffee28;
  z-index: 0;
  border-width: 0;
  height: 100%; }

#control-mode .pin-slider-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -35px;
  padding: 0 35px;
  box-sizing: content-box; }

#control-mode .pin-slider-container input[type=range] {
  z-index: 4;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-appearance: none;
  background: transparent;
  height: 100%;
  width: 100%; }

#control-mode .pin-slider-container input[type=range]:focus {
  box-shadow: 0 0 0 transparent;
  outline: 0 none; }

#control-mode .pin-slider-container input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  display: block;
  background: transparent;
  width: 0;
  height: 0;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-bottom: 56px solid white;
  -webkit-background-clip: content-box;
  position: relative;
  top: 50px; }

#control-mode .pin-slider-container input[type=range]::-webkit-slider-thumb:before {
  width: 0;
  height: 0;
  display: block;
  content: "\A";
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 50px solid #3a9ee9;
  position: absolute;
  top: 3px;
  left: -30px;
  box-shadow: 0 8px 4px -4px #9da0ad; }

/* SMALL DEVICES */
@media (max-device-width: 4in) and (min-resolution: 100dpi) {
  html, body {
    font-size: 60px; }

  .button {
    min-height: 100px;
    margin: 10px;
    line-height: 100px; }

  .button.square {
    max-width: 100px;
    width: 100%; }

  .button.wide {
    max-width: 500px; } }
