<!-- TODO it would be nice to make this dialog thing a directive that wraps arbitrary content -->
<div class="container-fluid">
    <div class="row">
        <div class="dialog col-xs-8 col-xs-offset-2">
            <div class="row padded">
                <div class="col-xs-12 droid-font">
                    <p>Are you sure you want to reset all pins and connections?</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="button secondary"
                      ng-click="goBack(1);">
                        No
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="button"
                      ng-click="reset_app(); goBack(2);">
                        Yes
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
